body {
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#box1 {
    background-color: darkred;
}
#box2 {
    background-color: indianred;
}
#box3 {
    background-color: pink;
}
#box4 {
    background-color: lightpink;
}
.box {
    width: 100px;
    height: 100px;
}